label.error{
    color: #F00;
    font-weight: bold;
}

input.error,
select.error,
textarea.error {
    border: 1px red solid;
}

[data-role="listview"] li a{
    background-color: #3c3c3c !important;
    border-color: #2c2c2c !important;
}

[data-role="listview"] li{
    background-color: #2c2c2c !important;
    border: none !important;
}

ul#messageList{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    display:inline-block;
    flex-direction: column-reverse !important;
    vertical-align: bottom !important;

    list-style-type: none;
}

ul#messageList li img{
    width: 10vw;
    height: 10vw;
}

ul#messageList li{
    border-bottom: 2px solid white;
    overflow-wrap: break-word;
    overflow: auto;
    margin: 6px 0;
}

ul#messageList li:last-child{
    border-bottom: 0;
}

.msgUser{
    margin: 0;
}

.msgText{
    margin: 0;
    padding: 6px;
    font-size: 16px;
}

.msgDate{
    margin-left: 12px;
    font-size: 14px;
    font-weight: normal;
}

    /* Chat Effects */

/* Rainbow text provided here: https://w3bits.com/rainbow-text/ */
.rainbow-text {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease infinite;
    text-shadow: none;
}

@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}